# Rust
/target
**/target
Cargo.lock

# Node
node_modules
dist
.vite

# Tauri
src-tauri/target
src-tauri/gen

# Misc
.DS_Store
*.log
.env
.env.*

# Built installers
packaging/out/

# Flatpak build artifacts
packaging/flatpak/vartalaap.deb
packaging/flatpak/build/
packaging/flatpak/repo/
packaging/flatpak/.flatpak-builder/
.superpowers/
graphify-out/
